# Игнорировать файлы и директории, связанные с виртуальными окружениями
venv/
ENV/
env/
.venv/

# Игнорировать файлы и директории, специфичные для IDE (например, PyCharm)
.idea/
.vscode/
*.swp
.ipynb_checkpoints/

# Игнорировать файлы и директории, связанные с системой контроля версий
.git/
.gitignore

# Игнорировать файлы и каталоги, связанные с конфигурацией и настройками
*.cfg
*.ini
*.toml

# Игнорировать файлы и каталоги, связанные с тестами и их результатами
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
tests/

# Игнорировать файлы журналов и временные файлы
*.log
*.tmp
*.temp

# Игнорировать кэшированные файлы и каталоги
.cache/
*.egg-info/
dist/
build/

# другое
models/YOLOv8m_brain_cell_v2_maP50_0.747.pt
models/YOLOv8m_brain_cell_v1_maP50_0.634.pt
photos/
runs/
results/results.xlsx